<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Password Ninja - Use your password everywhere. Securely.</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ css_url('lib/bootstrap.css') }}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ css_url('lib/animate.min.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ css_url('lib/creative.css') }}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Password Ninja</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#contact">Feedback</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Use the same password everywhere. Securely.</h1>
                <hr>
                <p>
                Password Ninja creates a unique password for every website you use based on your
                master password and the website's domain
                </p>
                <div class="col-md-12 subscribe">
                <div class="signup-block">
                <div class="row"><form class="form-horizontal" role="form" action="subscribe.php" id="subscribeForm" method="POST">
                <div class="col-sm-4">
                <input class="form-control input-lg" id="domain" type="text" placeholder="Domain">
                </div>
                <div class="col-sm-4">
                <input class="form-control input-lg" id="password" type="password" placeholder="Password">
                </div>
                <div class="col-sm-4">
                <button type="button" id="generate-password" class="btn btn-primary btn-xl">Generate My Password</button>
                </div>
                </form></div>
                <span id="generate-result" class="alertMsg"></span> </div>
                <span id="generate-error" class="alertMsg"></span> </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Don't trust anyone else with your password. Even us.</h2>
                    <hr class="light">
                    <p class="text-faded">
                    Just like a bank pin, you should never trust your password to anyone else.
                    All it takes is for one insecure website you use to get hacked and someone
                    else has your password. And let's face it - you've used it everywhere.
                    </p>
                    <p class="text-faded">
                    Password Ninja creates a unique password for every website you use, but
                    you only need to remember one of them. Password Ninja uses one-way encryption
                    to create a unique password based on your master password and the website you
                    are using. In non-tech speak, we take your password and the website's name,
                    put them together and use this to create a unique password. So from your master
                    password and the website you can easily "calculate" your unique password for the website. But you can't go backwards to find out your master password from any website password.
                    </p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Key Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Don't trust anyone - even us</h3>
                        <p class="text-muted">Password Ninja doesn't store your password anywhere. In fact, your password will never leave your computer. Your unique website password is calculated on your computer and not over the internet.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Secure</h3>
                        <p class="text-muted">Password Ninja uses industry standard one-way
                        encryption to generate your passwords. If you speak tech,
                        we use SHA-256 hashing.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Convenient</h3>
                        <p class="text-muted">Never reuse a password. But only remember one password.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">
                        I made this because I hate remembering passwords but also know how
                        dangerous reusing passwords is. I trust Password Ninja to secure my
                        digital life - you can too.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                      <img src="{{ img_url('portfolio/1.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                      <img src="{{ img_url('portfolio/2.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                      <img src="{{ img_url('portfolio/3.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                      <img src="{{ img_url('portfolio/4.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                      <img src="{{ img_url('portfolio/5.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                      <img src="{{ img_url('portfolio/6.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    -->

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Chrome Extension</h2>
                <p>
                I developed a Chrome Extension to automatically encrypt your password for you
                on each website.
                </p>
                <a href="https://chrome.google.com/webstore/developer/edit/cnajfdfdfaojkoanaekegdbmcpldajgb" class="btn btn-default btn-xl wow tada">Check it out on the Chrome Store</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Questions? Comments? Shoot me a line.</p>
                </div>
                <!--<div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>-->
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:paul.ashbourne@gmail.com">paul.ashbourne@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ js_url('lib/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ js_url('lib/bootstrap.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ js_url('lib/jquery.easing.min.js') }}"></script>
    <script src="{{ js_url('lib/jquery.fittext.js') }}"></script>
    <script src="{{ js_url('lib/wow.min.js') }}"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
    <script src="{{ js_url('lib/require.js') }}" type="text/javascript"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ js_url('lib/creative.js') }}"></script>

    <!-- Page JS -->
    <script type="text/javascript">
      require.config({
        baseUrl : '{{ js_url() }}',
        paths   : {
          jquery  : 'lib/jquery',
          tpl     : 'lib/tpl',
        }
      });
    </script>
    <script src="{{ js_url('page/home.js') }}"></script>

</body>

</html>
